.habilidades .container-habilidades {
    text-align: center;
    justify-content: center;
}

.habilidades .container-habilidades .habilidade {
    max-width: 350px;
    padding: 40px 20px;
    border-radius: 30px;
    transition: 0.2s;
}

.habilidades .container-habilidades .habilidade:hover {
    background: var(--cor-fundo-escuro);
    transform: translate(50px, 20%);
}

.habilidades .container-habilidades .habilidade p,
.habilidades .container-habilidades .habilidade h3,
.habilidades .container-habilidades .habilidade .logo i {
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.habilidades .container-habilidades .habilidade h3 {
    color: var(--cor-primaria);
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
}

.habilidades .container-habilidades .habilidade p {
    font-size: 1.8rem;
    font-family: var(--fonte-secundaria);
}

.habilidades .container-habilidades .habilidade .logo i {
    font-size: 8rem;
}

.habilidades .container-habilidades .habilidade .devicon-javascript-plain {
    color: #FFA500;
}

.habilidades .container-habilidades .habilidade .devicon-html5-plain-wordmark {
    color: #FF4500;
}

.habilidades .container-habilidades .habilidade .devicon-css3-plain-wordmark {
    color: #0000FF;
}

.habilidades .container-habilidades .habilidade .devicon-git-plain {
    color: #FF6347;
}